@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #3b3430;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
$background-width: 100%;
$content-height: 500px;
$side-padding: 70px;
$menuItemDimension: 250px;

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #container {
    height: 100%;
    min-width: 375px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    background-color: $primary-color;
    min-height: 250px;
    display: flexç;
}

#mainContent1 {
    background-image: linear-gradient(rgb(0,0,0,0.25),rgb(0,0,0,0.25)), url(../assets/images/pizza-background.jpg);
    background-size: $background-width auto;
    background-repeat: no-repeat;
    // min-height: 500px;
    color: $secondary-color;
}

#mainContent2 {
    height: 100%;
    display: flex;
}

.navBar, .navMenu, .logoAndTitleCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navBar {
    justify-content: space-between;
    padding-left: $side-padding;
    padding-right: $side-padding;
    padding-top: $side-padding - 50px;
    align-items: center;
}

.navMenu {
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.pageTitle {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.logo {
    background-image: url('../assets/images/space-needle.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.logoAndTitleCont {
    gap: 20px;
}

.gridContainer {
    padding: 50px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.menuElement {
    width: $menuItemDimension;
    height: $menuItemDimension;
    background-position: center;
    background-size: 100%;
}