@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #3b3430;
$secondaryy-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
$background-width: 100%;
$content-height: 500px;
$side-padding: 70px;
$menu-Item-Dimension: 250px;
$main-Link-Background-Color: #f4f4f4df;
$main-Link-Color: black;
$secondary-Link-Background-Color: #3b3430e0;

* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html, body, #container {
    min-width: 375px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.copyrightDiv {
    position: absolute;
    bottom: 0;
    color: #5e5956;
}

.header {
    background-size: $background-width auto;
    background-repeat: no-repeat;
    color: $secondaryy-color;
    background-position-y: center;
}

#homeContent1 {
    background-image: linear-gradient(rgb(0,0,0,0.25),rgb(0,0,0,0.25)), url(../assets/images/homeHeaderPic.jpg);

}

#menuContent1 {
    background-image: linear-gradient(rgb(0,0,0,0.25),rgb(0,0,0,0.6)), url(../assets/images/menuHeaderPic.jpg);
}

#aboutContent1 {
    background-image: linear-gradient(rgb(0,0,0,0.25),rgb(0,0,0,0.25)), url(../assets/images/aboutHeaderPic.jpg);
}

.mainContent2 {
    display: flex;
    padding: 5px;
    min-height: 400px;
}

.navBar, .navMenu, .logoAndTitleCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navBar {
    justify-content: space-between;
    padding-left: $side-padding;
    padding-right: $side-padding;
    padding-top: $side-padding - 50px;
    align-items: center;
    position: relative;
}

.logo {
    background-image: url('../assets/images/space-needle.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.logoAndTitleCont {
    gap: 20px;
}

.navMenu, .linkContainer {
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.linkContainer {
    display: flex;
    flex-wrap: wrap;
}

.navMenu > div, .orderLink {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background: $secondary-Link-Background-Color;
    cursor: pointer;
}

.orderLink {
    background: rgb(223, 30, 30);
}

div.selectedLink {
    background: $main-Link-Background-Color;
    color: $main-Link-Color;
}

.pageTitle {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.gridContainer {
    padding: 50px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    width: 100%;
    height: auto;
    justify-items: center;
}

.gridContainer > a {
    color: inherit;
    text-decoration: none;
}

.menuElement {
    width: $menu-Item-Dimension;
    height: $menu-Item-Dimension;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuElement :last-child {
    text-align: center;
}

.mediaLinksDiv > * {
    width: 50px;
    height: 50px;
}

.mediaLinksDiv {
    width: 100%;
    justify-content: center;
}

.infoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeContentDiv, .aboutContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 300px;
    gap: 20px;
    flex-direction: column;
}

.aboutContentDiv div {
    padding: 20px 20px;
    width: 100%;
    font-size: 20px;
    text-indent: 30px;
}

#aboutContentImg {
    padding: 100px 30px;
    background-image: url('../assets/images/homeHeaderPic.jpg');
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 500px;
}

.footer {
    width: 100%;
    background-color: $primary-color;
    min-height: 350px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    color: $secondaryy-color;
    position: relative;
}

.footer > * {
    margin: 10px;
}

